* {
    margin :0;
    padding:0;
}

body {
    background-color: rgba(0,0,0,0.1);
}
.card-img {
    width :150px;
    height :150px;
    object-fit : cover;
    transition:.5s;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.card-img:hover {
    transform:scale(1.2);
}
.heading {
    font-size : 50px; 
    color: rgba(45,45,132,0.8);
    text-align:center;
    margin:40px 40px;
}

.card {
    cursor:pointer;
    box-shadow: 2px 2px 5px gray;
    display:flex;
    border-radius : 15px;
    overflow:hidden;
}
.card-body {
    padding:10px 20px;
    text-align:left;
    display : flex;
    flex-direction : column;
    justify-content: space-between;
    width:100%;
}

.card-body div h1 {
    color: rgba(45,45,132,0.8);
    font-size:1.8rem;
    font-weight:800;
}
.card-body div p {
    font-size:1.2rem;
    color : rgba(0,0,0,0.5);
}

.card-body button {
    padding:5px 10px;
    border-radius:5px;
}
button {
    background-color: rgba(45,45,132,0.5);
    border : 0;
    color:white;
    padding:5px 10px;
    transition: .3s;
    cursor:pointer;
    width:100%;
}

button:hover {
    background-color: rgba(45,45,132,0.9);
}


.player_detail {
    width:600px;
    padding:10px 20px;
    margin :20px auto;
    border-bottom:1px solid black;
}

.player_container {
    padding : 10px 20px;
}

.tab {
    display:inline-block;
    box-shadow:1px 1px 3px gray;
    border-radius: 5px;
    margin-top: 5px;
   list-style-type:none; 
}
.tab li{
    font-size:1.1rem;
    display:inline-block;
    cursor:pointer;
    padding:5px 10px;
}

.tab li:first-child {
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}
.tab li:last-child{
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}
.container {
    background-color:rgba(255,255,255,0.5);
    display:grid;
    padding:40px 40px;
    gap : 50px;
    grid-template-columns: 1fr 1fr;
    width:800px;
    margin:0px auto;
    border-radius:25px;
}


.tab_container {
    text-align:center;
    margin-top:20px;
}

.tab_content {
    margin-top:10px;
}
.tab_content div h1 {
        font-size:1.4rem;

}

.active {
    color:white;
    background-color: rgba(45,45,132,0.5);
}


.footer {
    padding:50px 10px;
    font-size:1.2rem;
    text-align:center;
}
